body  {
  background-color: #3F514C;
  color: white;
}

section  {
  text-align: center;
}

h1  {
  cursor: pointer;
}

.feed {
  text-align:left;
  /* for viewport adjustment*/
  height: 70vh; 
  overflow:scroll;
}

/*scroll bar on feed*/
.feed::-webkit-scrollbar {
    width: 0.5em;
}
 
.feed::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.userHead {
  font-size: 18px;
  font-family: futura;
  background-color: red;
}

ul {
  text-align: center;
}

li {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-top:5px;
  list-style-type: none;
  text-align: left;
  cursor:pointer;
  font-size: 14px;
}

#message {
  width:40%;
}

.twittle  {
  padding: 1.5% 0;
  background-color: green;
}

input, button {
  color:black;
}

.feed div {
  padding: 5px 9px;
  background-color: rgb(29, 29, 124);
  margin-bottom:2%;
}

.userHead, .twittle, .feed div  {
  border-radius: 5px;
}

.feed div >div  {
  color:honeydew;
  background-color:grey;
}

.users, .feed {
  margin-top: 2%;
}
